torch
transformers
ffmpeg-python
timm
datasets
evaluate
scikit-learn
pandas
peft
accelerate
optimum
jiwer
soundfile
librosa
gradio
trl
openai
langchain
langchain-openai
langchain-core
langchain-community
